<ion-view title="">
  <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-chevron-left buttons button-clear header-item" ng-click="$ionicGoBack()"></button>
      <h1 class="title">{{capsule.partner.name}} & I</h1>
  </ion-nav-buttons>
	<ion-content>
    <div class="capsule-large-container">
      <img ng-src="{{capsule.partner.avatar}}" alt="{{capsule.partner.name}}" class="capsule-large" />
    </div>
    <section id ="cd-timeline" class="cd-container" ng-repeat="request in capsule.requests | orderBy: request.request.accepted_time">
		<div class="cd-timeline-block">

			<div class="cd-timeline-img" style="background-color: white;">
        <img ng-src="{{getSymbolId(request.request.activity_id)}}"/>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
        <p style="font-size: 20px;">
          {{request.summary}} {{prettyDate(request.request.accepted_time)}}
        </p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->


  </ion-content>
  <div class="float-button" id="fab">
    <span class="height-fix">
      <a ui-sref="app.new-request" class="content">
        <i class="ion-ios-plus-empty"> </i>
      </a>
    </span>
  </div>
</ion-view>
