<div class="bar bar-header bar-light">
   <h1 class="title"></h1>
</div>
<div style="margin-top: 150px; text-align: center;">
  <div class="list" style="margin: 0 auto; padding: 20px;">
    <label class="item item-input" style="margin: 20px; text-align:center; border-top: 0px; border-right: 0px; border-left:0px;" >
      <span class="input-label">Full Name: </span>
      <input type="text" ng-model="name">
    </label>
    <p ng-show="!noName">Please put a name</p>
    <button class="button button-full button-calm" ng-click="signup()">Go to Cappsule</button>
  </div>
</div>
